* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}
body {
    font-family: Axiforma, sans-serif !important;
}

/* Annoucemnent bar */
.announcementBar {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}
.announcementBar .owl-carousel .item {
    font-size: 14px;
}
/* Annoucemnent bar */
/* Login */
.loginBtn {
    font-size: 20px;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    padding: 0.7em 2em;
    border: 3px solid #090909;
    border-radius: 2px;
    position: relative;
    color: #000000;
    background: transparent !important;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}

.loginBtn:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: #010001;
    z-index: -1;
}

.loginBtn:hover,
.loginBtn:focus {
    color: white;
    transform: scale(0.9);
}

.loginBtn:hover:before,
.loginBtn:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}

.loginBtn:active {
    transform: scale(0.9);
}
/* Login */
/* Parent Section */
/* Floral Section */
.floralSection {
    padding: 3rem 0;
    background-color: #f9f9f9; /* Optional: add background color */
    text-align: center; /* Center all content within this section */
}

/* Title */
.floralSection .display-4 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
}

/* Shop All Link */
.floralSection .shopAllLink {
    font-size: 1.2rem;
    color: #000;
    text-transform: uppercase;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2rem;
}

.floralSection .shopAllLink:hover {
    text-decoration: underline;
}

/* Card Container */
.floralSection .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

/* Cards */
.floralSection .card {
    border: none;
    background: transparent;
    margin: 1rem 0;
    position: relative;
}

/* Card Image */
.floralSection .card i mg {
    width: 100%;
    height: auto;
    border-radius: 50%; /* Make image circular */
    transition: filter 0.3s ease; /* Smooth transition for hover effect */
}

/* Best Seller Badge */
.floralSection .card .bestSellerBadge {
    position: absolute;
    top: 10px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    right: 10px;
    padding: 20px;
    background-color: black;
    color: white;
    font-size: 0.8rem;
}

/* Card Title */
.floralSection .card .card-body .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 15px;
}

/* Card Text */
.floralSection .card .card-body .card-text {
    font-size: 1rem;
    color: #666;
}
